body {
    background-image: url(./Assets/background.jpeg);
    background-size: cover;
    font-family: Orbitron;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#topbar {
    position: absolute;
    top: 0%;
    width: 80%;
    height: 60px;
    display: flex;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    justify-content: space-between; 
    border-radius: 25px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.windowheader {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: move;
    justify-content: space-between;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgb(39, 39, 39, 0.75);
}

.closebutton{
    display: flex;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
}

#welcome {
    background-color: rgba(72, 0, 189, 0.25);
    backdrop-filter: blur(10px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 15px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}